.site-container {
  min-height: 100vh;

  .site-header, .site-footer {
    background-color: #0A1B22;

    .header-button {
      width: 80px;
    }

    .site-title {
      // font-family: "Libre Caslon Display", "Times New Roman", serif;
      color: white;
    }
  }
}